@font-face {
  font-family: "GT-Flexa-Mono-Regular";
  src: url("/fonts/GT-Flexa-Mono-Regular.woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "LayGrotesk-Regular";
  src: url("/fonts/LayGrotesk-Regular.woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
