.info {
  font-family: "GT-Flexa-Mono-Regular";
  display: flex;
  flex-direction: column-reverse;

  &__text {
    margin: 4rem auto;
    > div {
      margin-bottom: 2rem;
    }
  }
  &__subtitle {
    font-size: 28px;
  }
  &__subbody {
    font-size: 24px;
    font-family: "LayGrotesk-Regular";
  }
  &__body {
    font-family: "LayGrotesk-Regular";
    font-size: 28px;
  }
  &__image {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .info {
    flex-direction: row;
    justify-content: space-between;
    &__image {
      min-width: 350px;
      margin-top: 4rem;
      width: 20%;
    }
    &__text {
      margin-right: 2rem;
      width: 70%;
    }
  }
}
