.info {
  font-family: "LayGrotesk-Regular";
  display: flex;
  flex-direction: column-reverse;
  &__text {
    margin: 4rem auto;
    > div {
      margin-bottom: 2rem;
    }
  }
  &__subtitle {
    font-family: "GT-Flexa-Mono-Regular";
    font-size: max(2vw, 28px);
    margin-bottom: 6px;
  }

  &__body,
  &__item {
    font-size: max(1.8vw, 24px);
  }
  &__image {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: auto;
  }
  &__separated {
    display: flex;
    margin-bottom: 6px;

    p {
      &:nth-child(1) {
        min-width: 100px;
        font-size: max(1.8vw, 24px);
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .info {
    flex-direction: row;
    justify-content: space-between;
    &__image {
      min-width: 350px;
      width: 20%;
      left: calc(70% + 2rem);
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
    }
    &__text {
      margin: 4rem 0;
      width: 70%;
    }
  }
}
