.info {
  font-family: "GT-Flexa-Mono-Regular";
  display: flex;
  flex-direction: column-reverse;

  &__text {
    margin: 4rem auto;
    > div {
      margin-bottom: 2rem;
    }
  }
  &__subtitle {
    font-size: 24px;
    margin-bottom: 6px;
  }
  &__subbody {
    font-size: 20px;
  }
  &__body,
  &__item {
    font-size: 16px;
    margin-left: 2rem;
  }
  &__image {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: auto;
  }
  &__separated {
    display: flex;
    margin-left: 2rem;
    margin-bottom: 6px;
  }
}
@media only screen and (min-width: 1200px) {
  .info {
    flex-direction: row;
    justify-content: space-between;
    &__image {
      min-width: 350px;
      width: 20%;
      left: calc(70% + 2rem);
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
    }
    &__text {
      margin: 4rem 0;
      width: 70%;
    }
  }
}
