.header {
  z-index: 4;
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  padding: 18px 10px;
  > div {
    width: 100%;
  }
  .logo {
    position: relative;
    min-width: 300px;
    width: 42vw;
  }
  .menu {
    position: relative;
    text-align: right;
    min-width: 40px;
    margin-right: 8px;
    .burger {
      width: 45px;
      height: 20px;
      position: absolute;
      right: 1rem;
      z-index: 5;
      margin-top: -8px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #000;
        border-radius: 20px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        &:nth-child(1) {
          top: 0px;
        }
        &:nth-child(2),
        &:nth-child(3) {
          top: 7px;
        }
        &:nth-child(4) {
          top: 14px;
        }
      }
    }
    .open {
      span {
        &:nth-child(1) {
          top: 18px;
          width: 0%;
          left: 50%;
        }
        &:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
        &:nth-child(4) {
          top: 18px;
          width: 0%;
          left: 50%;
        }
      }
    }
  }
}

.footer {
  z-index: 1;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  padding: 10px;
  .socials {
    position: relative;
    display: flex;
    gap: 12px;
  }
  .language {
    display: flex;
    font-family: "GT-Flexa-Mono-Regular";
    font-size: 16px;
    margin-right: 16px;
    gap: 24px;
    p {
      text-decoration: underline;
    }
  }
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #ededed;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  .exit {
    position: absolute;
    top: 1rem;
    right: 2rem;
    height: 37px;
    width: 37px;
  }
  .list {
    display: flex;
    flex-direction: column;
    list-style-type: none;

    > li {
      font-family: "GT-Flexa-Mono-Regular";
      font-size: max(4.25vw, 55px);
      margin-bottom: 1rem;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    .menu {
      margin-bottom: 16px;
      padding-right: 1rem;
      .burger {
        right: 1rem;
      }
    }
  }
  .nav {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
