.project {
  margin-bottom: 4rem;
  .navigation {
    display: flex;
    justify-content: space-between;
    font-family: "GT-Flexa-Mono-Regular";
    font-size: 14px;
  }
  &--research {
    .title {
      text-align: center;
      font-size: max(2vw, 36px);
      margin: 2em 0 1em;
    }
    .description {
      font-size: max(1.5vw, 20px);
    }
  }
  &--architecture {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    min-height: calc(100vh - 150px);
    .text {
      margin-bottom: 2rem;
      h2 {
        font-weight: 500;
        font-size: 29px;
        margin-bottom: 9px;
      }
      h4 {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 0.5em;
        margin-top: 0;
        white-space: pre-line;
      }
      p {
        font-size: 16px;
        margin-bottom: 1em;
        white-space: pre-line;
      }
      .imageText {
        text-align: center;
      }
    }
    .slider {
      .slide {
        position: relative;
        &__image {
          width: 100%;
          height: auto;
        }
        &__zoom {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 20px;
          width: 20px;
          cursor: pointer;
        }
        &__name {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .project {
    margin-bottom: 0;
    .navigation {
      font-size: 16px;
    }
    &--research {
      width: 60%;
      min-width: 700px;
      margin: auto;
    }
    &--architecture {
      justify-content: space-between;
      flex-direction: row;
      position: relative;
      margin-bottom: 0;
      // &::after {
      //   content: "";
      //   position: absolute;
      //   z-index: -1;
      //   top: 0;
      //   bottom: 0;
      //   left: 50%;
      //   border-left: 2px solid #d8d8d8;
      //   transform: translate(-50%);
      // }
      .slider {
        width: 45%;

        // overflow: auto;
      }
      .text {
        width: 47%;
        h2 {
          font-size: max(4vw, 55px);
          margin-bottom: 10px;
        }
        h4 {
          font-size: max(1.5vw, 26px);
        }
        p {
          font-size: max(1vw, 20px);
        }
        .imageText {
          text-align: right;
        }
      }
    }
  }
}
