.hero {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  .video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
  .content {
    position: relative;
    z-index: 1;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    .logo {
      width: 100%;
      height: 114px;
      position: relative;
    }

    .menu {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 60px;
      h2 {
        font-weight: 400;
        font-size: 32px;
        margin: 20px 0;
        cursor: pointer;
        font-family: "LayGrotesk-Regular";
      }
    }
    .news {
      margin: auto;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      p {
        margin: 0;
      }
      a {
        text-decoration: underline;
      }
      p,
      a {
        font-size: 18px;
        line-height: 1.7;
      }
    }
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      a {
        font-size: 14px;
      }
      .socials {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .language {
        display: flex;
        gap: 30px;
        border-bottom: 1px solid white;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    .content {
      .logo {
        height: 10vw;
      }
      .menu {
        margin-top: 40px;
        flex-direction: row;
        justify-content: space-around;
        h2 {
          font-size: 28px;
        }
      }
      .news {
        margin: auto 0 0;
        p,
        a {
          font-size: 24px;
          line-height: 2.2;
        }
      }
      .footer {
        .socials {
          flex-direction: row;
          gap: 30px;
        }
      }
    }
  }
}
